<div class="row">
    <div {{bind-attr class=":no-padding :col-md-4 isExpanded:hide"}}>
        <div class="btn-group-vertical projects-list" style="" role="group" aria-label="Vertical button group">
            {{#link-to "project" this class="btn btn-primary"}}Проект "{{name}}"{{/link-to}}
            {{#link-to "tasks" this class="btn btn-default"}}Задачи{{/link-to}}
            {{#link-to "team" this class="btn btn-default"}}Исполнители{{/link-to}}
            {{#link-to "resources" this class="btn btn-default"}}Ресурсы{{/link-to}}
            <a class="btn btn-default">Партнеры</a>
            <a class="btn btn-default">Сроки</a>
            <a class="btn btn-default">Бюджет</a>
        </div>
    </div>
    <div class="col-md-1 no-padding" style="width: 3%;">
        {{#if isExpanded}}
            <button type="button" class="btn btn-default btn-sm" {{action 'contract'}} style="height: 232px;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        {{else}}
            <button type="button" class="btn btn-default btn-sm" {{action 'expand'}} style="height: 232px;">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        {{/if}}
    </div>
    <div {{bind-attr class=":right-container isExpanded:col-md-11:col-md-7"}}>
        <div class="thumbnail">
            {{outlet}}
        </div>
    </div>
</div>
