<h3>{{name}}</h3>
<dl>
    <dt>Статус</dt>
    <dd>{{project_status.name}}</dd>
    <dt>Направление</dt>
    <dd>{{project_direction.name}}</dd>
    <dt>Описание</dt>
    <dd>{{description}}</dd>
    <dt>Ожидаемый результат</dt>
    <dd>{{result}}</dd>
</dl>